.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.area {
    padding: 15px;
    width:  300px;
}

.button {
    width: 100%;
}
.separator {
    height: 20px;
}