<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <mat-nav-list *ngFor="let dos of todos">
        <p [style.textDecoration]="dos.done ? 'line-through' : 'none'" class = 'todos' (click)="onOpenTodo(dos)">{{ dos.title }}</p>
    </mat-nav-list>
      <button mat-raised-button color="primary" (click)="onAddItem()">Add Todo</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

