.todos {
    padding: 10px;
    font-size: 30px;
  }

  .sidenav {
    width: 300px;
    padding: 10px;
    text-align: center;
  }

  .example-container {
    width: 1000px;
    height: 900px;
    margin: 10px;
    border: 1px solid #555;
  }